@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --clr-primary: #6366F1; 
    --clr-white: white;

    --clr-gray-borderbox: #E2E5F1;

    --container-padding: 1rem;
    --transition-time: all 0.2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
    font-family: "Manrope", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--clr-primary);
    text-decoration: none;
}

.nav-link:hover{
    color: var(--clr-primary);
    text-decoration: underline;
}


.btn-hamburger-menu {
    background-color: transparent;
    border: 0;
    font-size: 2rem;
}

.btn-primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border: none;
    border-radius: .5rem;
    width: 10rem;
    height: 2.5rem;
    padding: 10px 25px;

    div {
        display: flex;
        gap: .3rem;
        text-align: center;
    }
}



.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap:2rem;
}

.btn-toggle-switch .label {
    display: none;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--clr-dark);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-primary);
    text-decoration: underline;
}

.active {
    color: var(--clr-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Header stops here */

/* HERO SECTION STARTS HERE */

.btn-download {
    border: none;
    background-color: black;
    border-radius: 8px;
    padding: .6rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;

    &.btn-download:hover {
        background-color: var(--clr-gray600);
    }

    @media (min-width: 1400px) {    
        width: 180px;
    }
}

#hero {

    background: rgb(99,102,241);
    background: linear-gradient(0deg, rgba(99,102,241,0.09913963607594933) 0%, rgba(218,70,239,0.04850672468354433) 42%, rgba(241,244,253,0.07065862341772156) 83%);
    padding-bottom: 2rem;
    
    overflow: hidden;
    /* min-height: 645px; */

    @media (min-width: 768px) {
        padding-bottom: 0;
        min-height: 535px;
    }

    @media (min-width: 1400px) {
        margin-top: 5rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        grid-template-columns: 1fr;
            grid-template-areas: "headline"
                                "content";

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "headline headline"
                                "content images";
        }
        @media (min-width: 1400px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "headline images"
                                "content images";
        }
    }

    .headline {
        grid-area: headline ;
        text-align: center;
        h1 {
            font-size: 34.1px;
            font-weight: bolder;

            @media (min-width: 768px) {
                font-size: 56px;
            }

            @media (min-width: 1400px) {
                text-align: left;
            }
        }

    }

    .content {
        grid-area: content;

        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }

        p {
            font-size: 18px;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }

        .buttons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
        @media (min-width: 768px) {
            flex-direction: row;
        }

        }

        .discover-more {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;

            @media (min-width: 768px) {
                justify-content: flex-start;
                margin-bottom: 4rem;
            }
            @media (min-width: 1400px) {
                justify-content: flex-start;
                margin-bottom: 4rem;
                margin-top: 12rem;
            }
        }

        .btn-dropdown {
            background-color: white;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

    }


    .images {
        grid-area: images;
        display: none;
        position: relative;

        @media (min-width: 768px) {
            display: block;
        }

        .img-back {
            position: absolute;
            z-index: -10;
            bottom: 0;
            right: 120px;
            height: auto;
            width: 60%;

            @media (min-width: 1400px) {
                width: auto;
                right: 220px;
                height: 75%;
            }
        }
        .img-front {
            position: absolute;
            z-index: -5;
            bottom: 0;
            right: 0;
            left: 120px;
            height: auto;
            width: 62%;

            @media (min-width: 1400px) {
                width: auto;
                height: 95%;
                left: 272px;
            }
        }
    }
}

/* HERO SECITON ENDS HERE */

/* HERO-2 SECTION STARTS HERE */

#hero-2 {

    .container {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "app-features"
                                "content";


        @media (min-width: 768px) {
            /* display: flex; */
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "brands brands"
                                    "app-features app-features"
                                    "content content";

        }

        @media (min-width: 1400px) {
            padding-bottom: 6rem;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "brands brands"
                                    "images-2 app-features"
                                    "images-2 content"
                                    ;
        }
    }

    .brands {
        display: none;
        grid-area: brands;
        margin-top: 2rem;


        @media (min-width: 768px) {
            display: block;
            
            #logo-hide {
                display: none;  
            }


        }

        @media (min-width: 1400px) {
            #logo-hide {
                display: flex;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }

    .brands-border {
        display: flex;
        list-style: none;
        border: 1px solid var(--clr-gray-borderbox);
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        width: 11rem;
        height: 6rem;
    }

    .app-features {

        grid-area: app-features;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin-bottom: 2rem;
        margin-top: 1rem;

        h2 {
            font-size: 36.21px;
            font-weight: bolder;
        }

        p {
            color: #585C7B;
        }

        @media (min-width: 768px) {
            margin-top: 3rem;
        }
        @media (min-width: 1400px) {
            margin-top: 4rem;
        }
    }

    .images-2 {
        grid-area: images-2;
        display: none;
        margin-top: 4rem;


        @media (min-width: 1400px) {
            display: block;
        }
    }

    .content {
        display: grid;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
            grid-area: content;

        }
        
        h3 {
            font-size: 20px;
            font-weight: bolder;
        }

        p {
            font-size: 16px;
            color: #585C7B;
        }
        

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F3F6FF;
            border-radius: 8px;
            padding: 30px;
            width: 60px;
            height: 60px;
        }

        .icon-container {
            display: flex;
            list-style: none;
            justify-content: flex-start;
            gap: 1.5rem;
            margin-bottom: 1.5rem;
            width: 100%;
            

        }
        

    }
}

/* PAGE 3 STARTS HERE */

#page-3 {

    background: rgb(146,148,153);
    background: linear-gradient(0deg, rgba(146,148,153,1) 0%, rgba(243,246,255,1) 100%);


    .container {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        padding-top: 2rem;
        padding-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .p3-headline {
        grid-area: p3-headline;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        h1 {
            font-size: 40px;
        }
    }

    .img-phones-container {
        display: flex;
        justify-content: center;
        align-content: center;

        #left-phone {
            display: none;
        }
        #right-phone {
            display: none;
        }

        @media (min-width: 768px) {

            gap: 0.3rem;

            img {
                width: 15rem;
            }

            #left-phone {
                display: block;
            }
            #right-phone {
                display: block;
            }

        }
        @media (min-width: 1400px) {
            gap: 6rem;

            img {
                width: 20rem;
            }

        }
    }

    .end-text {
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 4rem;

        h4 {
            padding-bottom: 1.5rem;
            font-size: 21.6px;
            font-weight: bolder;
        }

        p {
            color: #585C7B;
        }

        .text-mobile {

            @media (min-width: 768px) {
                display: none;
            }
        }

        .text-tablet {
            display: none;

            @media (min-width: 768px) {
                display: block;
            }
            @media (min-width: 1400px) {
                display: none;
            }

        }

        .text-desktop {
            display: none;

            @media (min-width: 1400px) {
                display: block;
            }
        }
    }
}

/* PAGE 3 STOPS HERE */

/* DESKTOP ONLY PAGE 1 */

#desktop-only-1 {

    display: none;
    overflow: hidden;

    height: 1250px;

    @media (min-width: 1400px) {
        display: block;
    }



    .container {
        padding-left: 9rem;
        padding-right: 9rem;
        padding-top: 10rem;
        padding-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text1 images1"
                            "images2 text2";
    }

    .info-text-container {
        grid-area: text1;
        margin-top: 5rem;

        h2 {
            font-size: 32px;
            padding-bottom: 2rem;
        }

        li {
            display: flex;
            gap: .5rem;
            padding-bottom: 1rem;
        }
    }

    .p4-button {
        background-color: var(--clr-primary);
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        justify-items: center;
        padding-top: .7rem;
        padding-bottom: .7rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 2rem;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
        gap: .5rem;
        cursor: pointer;
    }

    .upper-images-container {
        grid-area: images1;
        padding-left: 2.5rem;

        .big-image {
            position: relative;
            z-index: -10;
        }

        .small-image {
            position: relative;
            z-index: -5;
            left: 210px;
            bottom: 65px;
        }
    }

    .lower-images-container {
        grid-area: images2;

        .big-image2 {
            position: relative;
            z-index: -10;
        }
        .small-image2 {
            position: relative;
            z-index: -5;

            bottom: 345px;
            left: 133px;
        }
    }

    .info-text-container-lower {
        grid-area: text2;

    }
    .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F3F6FF;
            border-radius: 8px;
            padding: 30px;
            width: 60px;
            height: 60px;
            margin-bottom: 1rem;
    }

    .payments-container {
        display: flex;
        gap: 2rem;
        padding-bottom: 1rem;
    }

    .p4-h2-container {
        padding-top: 3rem;
        padding-bottom: 2rem;

        h2 {
            font-size: 32px;
            color: var(--clr-dark);
        }
    }
}

/* DESKTOP ONLY PAGE 1 ENDS HERE */




@media (min-width: 768px) {
    .container {
        max-width: 720px;
        
    }
    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        gap: 3rem;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
        
    }
    .btn-toggle-switch .label {
        display: block;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
    }

    .navbar {
        display: block;
    }

    #auth-signin {
        display: block;
    }

    .btn-hamburger-menu {
        display: none;
        
    }

}